@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}

.description-area {
    resize: none;
    max-height: 150px;
}

.description-area::placeholder{
    font-style: italic;
    color: rgb(105, 105, 105);
}

.post{

}

.post-image{
    height: 400px;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.create-post {
    position: absolute;
    
    top: 20px;
    width: 750px;
    z-index: 1;
}

.posts {
    padding-top: 200px;
}

.img-preview {
    width: 70px;
}


/* CSS Components */

.product {
    width: 150px;
    height: 200px;
    background-color: beige;
    border: 1px solid;
}

.product img {
    width: 100%;
}

.product h2{
    font-size: .9em;
}

.details {
    padding: 10px;
}

.products {
    display: flex;
    gap: 40px;
}

.stude {
    background: #d2e8ef;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}
 .stude img {
    width: 100%;
    height:  300px;
    object-fit: cover;
    object-position: top;
 }